<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Welcome Email</title>
</head>

<body>
    <h2>Reset Password Link</h2>
    <p>Thanks for joining <strong>
            <%= company %>
        </strong>. We're excited to have you!</p>
</body>

</html>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
        padding: 20px;
    }

    h2 {
        color: #2c3e50;
    }

    p {
        font-size: 16px;
    }
</style>